.headers {
  display: inline-block;
  padding-left: 4px;

  h1 & svg,
  h2 & svg,
  h3 & svg,
  h4 & svg,
  h5 & svg,
  h6 & svg {
    visibility: hidden;
  }

  h1:hover & svg,
  h2:hover & svg,
  h3:hover & svg,
  h4:hover & svg,
  h5:hover & svg,
  h6:hover & svg,
  h1 &:focus svg,
  h2 &:focus svg,
  h3 &:focus svg,
  h4 &:focus svg,
  h5 &:focus svg,
  h6 &:focus svg {
    visibility: visible;
  }
}
